.app {
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  background-image: url(./background_img.jpg);
}

a:visited, a:link {
  color: black;
}

/* a:link {
  color: white;
} */

.body {
  --main-color: #50b7f5;
}
