.question__container {
  display: flex;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  background-image: none;
  background-color: white;

}

.question {
  padding: 10px;
  padding-bottom: 10px;
}
