.resultCard__container {
  display: flex;
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 60px;
  margin-bottom: 4.2vw;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
  padding: 25px;
  background-image: none;
  background-color: white;
  min-height: 30vw;
  min-width: 30vw;
}

.resultCard > * {
  display: flex;
  padding: 25px;
  justify-content: center;
}