.welcomeCard__container {
  /* display: flex; */
  margin-right: 20vw;
  margin-left: 20vw;
  margin-top: 60px;
  text-align: center;
  border: 3px solid black;
  border-radius: 5px;
  padding: 25px;
  margin-bottom: 4.2vw;
  background-image: none;
  background-color: white;
  min-height: 30vw;
  min-width: 30vw;
}

.welcomeCard > * {
  display: flex;
  padding: 25px;
  justify-content: center;
}

.article {
  display: block;
  text-align: center;
  padding: 10vw;
}